// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemon_picture {
  height: 200px;
  width: 200px;
}

.Grass {
  background-color: lighten(#9bcc50, 30%) !important;
}

.Water {
  background-color: lighten(#4592c4, 30%) !important;
}

.Fire {
  background-color: lighten(#fd7d24, 30%) !important;
}

.Poison {
  background-color: lighten(#b97fc9, 30%) !important;
}

.Psychic {
  background-color: lighten(#f366b9, 30%) !important;
}

.Bug {
  background-color: lighten(#729f3f, 30%) !important;
}

.Normal {
  background-color: lighten(#a4acaf, 30%) !important;
}

.Electric {
  background-color: lighten(#eed535, 30%) !important;
}

.Ground {
  background-color: lighten(#ab9842, 30%) !important;
}

.Fairy {
  background-color: lighten(#fdb9e9, 30%) !important;
}

.Fighting {
  background-color: lighten(#d56723, 30%) !important;
}

.Rock {
  background-color: lighten(#a38c21, 30%) !important;
}

.Ice {
  background-color: lighten(#51c4e7, 30%) !important;
}

.Dragon {
  background-color: lighten(#53a4cf, 30%) !important;
}
